
/* Custom classes - BEGIN */ 
body { background-image: url('money.jpg'); padding-top: 100px;

}

#form1 {background: lightgrey; width:1000px; margin:auto; padding-top: 100px; padding:75px; border-left: solid 15px green; border-right: solid 15px green;
border-top: solid 15px green; border-bottom: solid 15px green;  }


h1 { font-size: 24pt; color: green;
}

#payment { font-size: 16pt; font-weight: bold; 
}

/* Custom classes - END */ 


/* CSS to format the gridview -- START */

.grid-view
{
    width: auto;
    margin: 5px 0 10px 0;
    border: solid 5px black;
    border-collapse: collapse;
    text-align: center;
    font-family: "Comic Sans MS";
    color: black;

}

.grid-view td
{
        padding: 10px;
        border: solid 2px black;
        color: blue;

}

.grid-view th
{
        padding: 10px;
        color: white;
        background: green url(./style.grd_head.png) repeat-x top;
        border-left: solid 2px black;
        font-size: 0.9em;

}

.grid-view .alternate
{
   background-color: lightgreen;
}
   
